<nav class="header {% if app.request.attributes.get('_route') == 'app_login' %}is-white
{% endif %}" id="header">
    <ul class="header-nav">
        <li class="header__home">
            <a href="{{ path('app_home') }}" title="Accueil" class="home">{{ icon('home') }}
            </a>
        </li>
        <li><a href="#">{{ icon('video') }}  Tutoriels</a></li>
        <li><a href="#" >{{ icon('user') }} Teams</a> </li>
        <li><a href="{{ path('app_forum') }}" {{ menu_active('forum') }}>{{ icon('comment') }}  Forum</a></li>
        <li><a href="#">{{ icon('lines') }} Mods</a></li>
        <li><a href="{{ path('app_blog') }}" {{ menu_active('blog') }}>{{ icon('pen') }} Blog</a></li>
        <li><a href="#">{{ icon('pen') }}WIP</a></li>
    </ul>
    {% include 'partials/header-side.html.twig' %}
</nav>