{% extends 'manager/base.html.twig' %}

{% block body %}
    <h2 class="dashboard-title"> {{ wip.name }}</h2>
    <div class="dashboard-card stack-large" >
      <div class="meta__manage" >
          {{ wip.author.userIdentifier }} -- {{ wip.createdAt | date }}
      </div>
        {{ wip.content }}

        <div class="meta__refuse">

            {% if wip.approved == 2 %}
               Refusée --
               Par {{ wip.approuveBy.userIdentifier }} -- Le
                {{ wip.approuvedAt | format_datetime() }}
             {% endif %}
            {% if wip.reason %}
                {{ wip.reason }}
            {% endif %}
        </div>
        <form action="{{ path('manager_wipaction_confirm', {id: wip.id}) }}" method="post">
            <button class="btn-primary" {% if wip.approved == true %} disabled {% endif %} type="submit">{{ icon('check') }} Approuvé</button>
        </form>
        <a href="{{ path('manager_wipaction_decline', {id: wip.id}) }}" class="btn-primary">{{ icon('delete') }} ffes</a>

    </div>
{% endblock %}

