{% extends 'manager/layout/card.html.twig' %}
{% block title %}
    {{ icon('pen') }}
    Gestion des Work in Progress
{% endblock %}
{% block actions %}

{% endblock %}
{% block content %}

    <div class="blog__control" id="btntab1">
        {% if rows | length < 1%}
        <h2 >Beau Travail</h2>
            <p>Il n'y a aucun travail a faire</p>
  {% else %}
    <table class="table">
    <thead>
    <tr>
        <th>{{ sort_by(rows, 'ID', 'row.id') }}</th>
        <th >Titre</th>
        <th>Publié</th>
        <th class="text-center">Statut</th>
        <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
{% for row in rows %}
    {% set link = path('manager_wipaction_show', {id: row.id}) %}
    <tr>
            <th scope="row">{{ row.id }}</th>
        <td><a href="{{ link }}">{{ row.name }}</a></td>
             <td></td>
                <td>{{ row.createdAt | ago }}</td>
        <td>
            <div class="dashboard-actions">
                <a href="{{ link }}">{{ icon('check') }}</a>
            </div>
        </td>
        </tr>


    {% endfor %}
    </tbody>
    </table>
    {{ knp_pagination_render(rows) }}
    </div>
        {% endif %}
{% endblock %}

