<div class="card " style="padding: 15px">
 {{ form_start(form, {attr: {class: 'stack' }}) }}
    <section>
    <div class="full"><h3 class="section-title">Information Pricipale</h3></div>

    <div class="grid">

        {{ form_row(form.reason) }}
        {{ form_row(form.reasontype) }}



    </div>

    </section>
     <section class="stack-large">
         <div class="full">
             {{ form_row(form.content) }}
         </div>
         <div class="full">
             <button type="submit" class="btn-danger">Refuser</button>
         </div>
     </section>

 {{ form_end(form) }}


</div>