{% extends 'base.html.twig' %}
{% block body %}
<section class="container stack-large mt2">

    {% if app.user %}
        <div class="action__work__header">
        <a href="{{ path('app_wipOwn_index') }}" class="btn-primary-outlined">Voir mes WIP</a>
        </div>
    {% endif %}
</section>
    <section class="container stack-large grid3 mt3">
        <div class="wip__hero stack">
            <h1 class="hero-title">Tous les <strong>projets</strong></h1>
            <p>Voici une liste des tous les projet qui on ete proposer par les differente equipe</p>
        </div>

    {% for work in wips %}
        <article class="card">
            <a href="{{ path('app_wip_show', {id: work.id})}}">
                <div class="card__body stack">
                <h2 class="card__title">{{ work.name }}</h2>
                <div class="card__description text-small">
                    {{ work.content | striptags | excerpt(130) | raw }}
                </div>
            </div>
            </a>
        </article>
        {% endfor %}


    </section>
    {{ knp_pagination_render(wips) }}
{% endblock %}


